#page {
	background-color: #EaEaEa;
    min-height: 100%;
	width: 76%;
	margin-left: 12%;
	z-index: 2;
	box-shadow: 0 0 10px #AAA;
	position: absolute;
}

#projects-container {
	margin: 1%;
	margin-top: 90px;
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.project-container {
	margin: 1%;
	margin-bottom: 20px;
	min-height: 250px;
	height: auto;
	width: 47%;
	border-radius: 10px;
	text-decoration: none;
	overflow: hidden;
	transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
}

.project-container > img {
	margin: 0px;
	width: 40%;
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	float: right;
	object-fit: cover;
}

.project-container h3 {
	width: 54%;
	padding: 3%;
	padding-bottom: 0;
	padding-top: 5%;
	margin: 0;
}

.project-container p {
	padding: 3%;
	padding-bottom: 5%;
	width: 54%;
	margin: 0;
}

@media screen and (max-width: 1100px) {
	.project-container {
		width: 94%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 700px) {
	body {
		background-image: none !important;
	}

	#page {
		width: 100%;
		margin-left: 0;
	}
}

.project-container:hover {
	transform: scale(1.05);
	box-shadow: 0 0 15px 5px #AAA;
}

#copyright {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#copyright span {
	text-align: center;
}
