@font-face {
	font-family: "Cocogoose";
	src: url("../fonts/Cocogoose-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Tommy";
	src: url("../fonts/Tommy-Regular.otf") format("opentype");
}

@keyframes gridAnim {
	from {
		background-position: 500px 0;
	}
	to {
		background-position: 0 500px;
	}
}

html {
	height: 100%;
}

body {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Cocogoose;
	background-size: 50px 50px;
	background-color: white;
	background-image:
		linear-gradient(to right, #AAA 1px, transparent 1px),
		linear-gradient(to bottom, #AAA 1px, transparent 1px);
	background-position: 0px 0px;
	animation: gridAnim 10s linear infinite running;
}

header {
	background: #222;
	display: flex;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 60px;
	box-shadow: 0 5px 10px #AAA;
}

#navbar {
	display: table;
	width: 25%;
	margin: 0;
	padding: 0;
}

#navbar a {
	display: table-cell;
	color: #FFF;
	font-size: 20px;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	transition: background-color 0.4s, color 0.4s;
}

#navbar a:hover {
	background-color: #E0D7FF;
	cursor: pointer;
	color: black;
}

/*
#page {
	position: absolute;
	background-color: transparent;
	height: 50%;
	padding: 0;
	box-sizing: border-box;
}
*/

#page h2 {
	margin: 0px;
	font-size: 40px;
}

p {
	text-align: justify;
	font-family: Tommy;
}

#text-container {
	background: white;
}

.contact-container {
	background: white;
}

.project-container {
	background: white;
	color: #000;
}

#copyright {
	display: table;
	position: absolute;
	bottom: 0;
	background-color: #222222;
	color: white;
	font-size: 12px;
	z-index: 1;
}

#copyright span {
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 1100px) {
	#navbar {
		width: 40%;
	}
}

@media screen and (max-width: 700px) {
	#navbar {
		width: 100%;
	}
}
