#page {
	background-color: #EaEaEa;
    min-height: 100%;
	width: 74%;
	margin-left: 13%;
	z-index: 2;
	box-shadow: 0px 5px 10px #AAA;
	position: absolute;
}

.projects_container {
	margin: 2%;
	margin-top: 90px;
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.project_container {
	margin: 1%;
	margin-bottom: 1.5%;
	box-sizing: border-box;
	height: 275px;
	width: 47%;
	border-radius: 10px;
	text-decoration: none;
	overflow: hidden;
	transition: transform 0.15s ease-in;
}

@media screen and (max-width: 1000px) {
	.project_container img {
		margin: 0px;
		width: 100%;
		height: 50%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		object-fit: cover;
	}

	.project_container p {
		margin: 2%;
		padding: 3%;
	}
}

@media screen and (min-width: 1000px) {
	.project_container {
		height: 275px;
	}

	.project_container img {
		margin: 0px;
		width: 40%;
		height: 100%;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		float: right;
		object-fit: cover;
	}

	.project_container p {
		margin: 2%;
		padding: 2%;
	}
}

.project_container h3 {
	margin: 2%;
	padding: 3%;
}

.project_container:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 20px 0 #AAA;
}

#copyright {
	display: table;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #222222;
	color: white;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#copyright span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}