#title-container {
	color: black;
	text-shadow: -6px 6px 0 #E0D7FF;
	margin-left: 5%;
	margin-top: 12%;
	font-size: 3.5vw;
	line-height: 7vw;
}

#title h1 {
	margin: 0;
}

#title h1:first-of-type {
	margin-left: 3%;
}

#page-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	filter: drop-shadow(0 0 10px #AAA);
	z-index: 2;
}

#page {
	display: table-row;
	position: absolute;
	background-color: #EaEaEa;
	width: 60%;
    min-height: 100%;
	height: auto;
	right: 0;
	clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
	box-sizing: border-box;
	padding-left: 10%;
	padding-top: 7%;
	padding-right: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#page h2 {
	margin-right: 10%;
	margin-bottom: 30px;
	text-align: right;
	text-decoration-line: underline;
	text-decoration-color: #E0D7FF;
	text-decoration-thickness: 6px;
	text-underline-offset: 11px;
	font-size: 35px;
}

#text-container {
	width: 90%;
	height: 10%;
	margin-bottom: 5%;
	padding: 3%;
	border-radius: 10px;
}

#contacts-container {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.contact-container {
	position: relative;
	width: 140px;
	height: 140px;
	margin: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
}

.contact-container svg {
	margin: 22%;
}

.contact-container:hover {
	transform: scale(1.05);
	box-shadow: 0 0 15px 5px #AAA;
}

#copyright-half {
	display: none;
}

#copyright-full {
	position: fixed;
	width: 50%;
}

#copyright-full span {
	padding-left: 10px;
	text-align: left;
}

@media screen and (max-width: 1100px) {
	body {
		flex-direction: column;
	}

	#title-container {
		width: 90%;
		min-height: 20vw;
		margin-top: 60px;
		margin-left: 7%;
		display: flex;
		align-items: center;
		font-size: 4vw;
		text-shadow: -4px 4px 0 #E0D7FF;
	}

	@media screen and (min-width: 701px) {
		#title {
			display: flex;
		}

		#title h1 {
			line-height: normal;
		}

		#page {
			border-radius: 10px;
		}
	}
	
	#title h1:first-of-type {
		margin-left: 0;
		margin-right: 5%;
	}

	#page-shadow {
		position: unset;
		filter: none;
	}

	#page {
		width: 86%;
		min-height: calc(100% - 20vw - 60px);
		height: auto;
		clip-path: none;
		padding: 5%;
		left: 7%;
		box-shadow: 0 0 10px #AAA;
		flex-grow: 1;
	}
	
	#page h2 {
		margin-right: 0;
		margin-left: 5%;
		text-align: left;
		font-size: 30px;
	}
	
	#copyright-full {
		position: relative;
		text-align: center;
	}

	#copyright-half {
		display: table;
	}

	#copyright-half span {
		text-align: center;
	}

	#copyright-full {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	#title-container {
		min-height: 40vw;
		line-height: 12vw;
		font-size: 6vw;
	}
	
	#page {
		width: 100%;
		left: 0;
		min-height: calc(100% - 40vw - 60px);
	}

	#page h2 {
		text-decoration-thickness: 5px;
		font-size: 25px;
	}

	.contact-container {
		width: 120px;
		height: 120px;
	}
}
