#title {
	color: black;
	text-shadow: -8px 8px 0 #E0D7FF;
	margin-left: 4%;
	margin-top: 10%;
	font-size: 4vw;
	line-height: 130px;
}

#title h1 {
	margin: 0;
}

#title h1:first-of-type {
	margin-left: 3%;
}

#page {
	position: absolute;
	background-color: #EaEaEa;
	width: 60%;
    min-height: 100%;
	right: 0;
	clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
	box-sizing: border-box;
	padding-left: 10%;
	padding-top: 7%;
	padding-right: 2%;
	z-index: 2;
}

#page-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	filter: drop-shadow(0px 5px 10px #AAA);
}

#page h2 {
	margin-right: 10%;
	margin-bottom: 30px;
	text-align: right;
	/*
	text-decoration-line: underline;
	text-decoration-color: #E0D7FF;
	text-decoration-thickness: 6px;
	text-underline-offset: 12px;
	*/	
}

.text_container {
	width: 90%;
	height: 60% !important;
	margin-bottom: 5%;
	padding: 3%;
	border-radius: 10px;
}

.contacts_container {
	display: flex;
	justify-content: space-evenly;
}

.contact_container {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 2%;
	border-radius: 10px;
	box-sizing: border-box;
	transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
}

.contact_container svg {
	padding: 25%;
}

.contact_container:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 20px 0 #AAA;
}

/*
.contact_container:hover {
	box-shadow: -10px 10px 0px 0px #E0D7FF;
	transform: translate(2.5%, -2.5%);
}
*/

#copyright {
	width: 50%;
	padding: 5px;
	padding-left: 10px;
	left: 0%;

}
