#page {
	position: absolute;
	background-color: #EaEaEa;
	height: 100%;
	width: 60%;
	right: 0;
	clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
	box-sizing: border-box;
	padding-left: 10%;
	padding-top: 7%;
	padding-right: 2%;
	z-index: 2;
}

#page-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	filter: drop-shadow(0px 5px 10px #AAA);
}

.text_container {
	width: 90%;
	height: 40%;
	margin: 2%;
	margin-bottom: 5%;
	padding: 3%;
	border-radius: 10px;
}

.contacts_container {
	display: flex;
	margin-top: 2%;
	justify-content: space-evenly;
}

.contact_container {
	position: relative;
	width: 25%;
	margin: 2%;
	padding-bottom: 10%;
	border-radius: 10px;
	box-sizing: border-box;
	transition: transform 0.15s ease-in, box-shadow 0.15s ease-in, background-color 0.15s ease-in;
	border: solid #222;
}

.contact_container img {
	position: absolute;
	width: 50%;
	height: 50%;
	padding: 10%;
	padding-left: 25%;
}

/*
.contact_container:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 20px 0 #AAA;
}
*/

.contact_container:hover {
	box-shadow: -10px 10px 0px 0px #E0D7FF;
	transform: translate(2.5%, -2.5%);
}

#copyright {
	display: table;
	position: absolute;
	width: 50%;
	bottom: 0;
	background-color: #222222;
	color: white;
	font-size: 12px;
	z-index: 1;
	padding: 8px;
}

#copyright span {
	display: table-cell;
	vertical-align: middle;
}

#title {
	color: black;
	text-shadow: -8px 8px 0 #E0D7FF;
	margin-left: 5%;
	margin-top: 10%;
	font-size: 70px;
	line-height: 130px;
}

#title h1 {
	margin: 0;
}

#title h1:first-of-type {
	margin-left: 3%;
}
