@font-face {
	font-family: "Cocogoose";
	src: url("../fonts/Cocogoose-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Tommy";
	src: url("../fonts/Tommy-Regular.otf") format("opentype");
}

@keyframes gridAnim {
	from {
		background-position: 0 500px;
	}
	to {
		background-position: 500px 0;
	}
}

:root {
	--box-shadow-color: #999;
	--container-color: #FFF;
	--grid-bg-color: #FFF;
	--grid-line-color: #BBB;
	--moz-grid-line-color: #EEE;
	--navbar-bg-color: #222;
	--text-main-color: #000;
	--text-navbar-color: #FFF;
	--text-navbar-hover-color: #000;
	--page-bg-color: #EEE;
	--palette-color: #C5BEF9;

	--navbar-height: 60px;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	animation: gridAnim 20s linear infinite running;
	background-color: var(--grid-bg-color);
	background-image:
		linear-gradient(to right, var(--grid-line-color) 1px, transparent 1px),
		linear-gradient(to bottom, var(--grid-line-color) 1px, transparent 1px);
	background-position: 0px 0px;
	background-size: 50px 50px;
	color: var(--text-main-color);
	font-family: Cocogoose;
	height: 100%;
	margin: 0;
	text-underline-offset: 2px;
	width: 100%;
}

p {
	font-family: Tommy;
	margin-top: 0;
	text-align: justify;
}

header {
	background: var(--navbar-bg-color);
	box-shadow: 0 5px 10px var(--box-shadow-color);
	display: flex;
	height: var(--navbar-height);
	position: fixed;
	width: 100%;
	z-index: 3;
}

#navbar {
	display: table;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 50%;
}

#navbar a {
	color: var(--text-navbar-color);
	display: table-cell;
	font-size: 20px;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.4s, color 0.4s;
	vertical-align: middle;
}

#navbar a:hover {
	background-color: var(--palette-color);
	color: var(--text-navbar-hover-color);
	cursor: pointer;
}

#page h2 {
	font-size: 40px;
	margin: 0px;
}

.copyright {
	background-color: var(--navbar-bg-color);
	bottom: 0;
	color: var(--text-navbar-color);
	display: table;
	font-size: 12px;
	height: 20px;
	left: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.copyright span {
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 1100px) {

	#navbar {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {

	#navbar a {
		font-size: 18px;
	}
}

@media (prefers-color-scheme: dark) {

	:root {
		--box-shadow-color: #000;
		--container-color: #222;
		--grid-bg-color: #000;
		--grid-line-color: #666;
		--moz-grid-line-color: #333;
		--navbar-bg-color: #1F1F1F;
		--page-bg-color: #131313;
		--palette-color: #948ada;
		--text-main-color: #FFF;
	}

	svg {
		filter: invert();
	}
}

@-moz-document url-prefix() {
	
	@media screen and (min-width: 700px) {
		
		body {
			background-image:
				linear-gradient(to right, var(--moz-grid-line-color) 5px, transparent 5px),
				linear-gradient(to bottom, var(--moz-grid-line-color) 5px, transparent 5px);
		}
	}
}
