@font-face {
	font-family: "Cocogoose";
	src: url("../fonts/Cocogoose-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Tommy";
	src: url("../fonts/Tommy-Regular.otf") format("opentype");
}

@keyframes gridAnim {
	from {
		background-position: 0 500px;
	}
	to {
		background-position: 500px 0;
	}
}

:root {
	--grid-bg-color: #FFF;
	--grid-line-color: #BBB;
	--box-shadow-color: #AAA;
	--navbar-bg-color: #222;
	--text-main-color: #000;
	--text-navbar-color: #FFF;
	--text-navbar-hover-color: #000;
	--palette-color: #C5BEF9;

	--navbar-height: 60px;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	position: absolute;
	display: flex;
	color: var(--text-main-color);
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Cocogoose;
	background-size: 50px 50px;
	background-color: var(--grid-bg-color);
	background-image:
		linear-gradient(to right, var(--grid-line-color) 1px, transparent 1px),
		linear-gradient(to bottom, var(--grid-line-color) 1px, transparent 1px);
	background-position: 0px 0px;
	animation: gridAnim 20s linear infinite running;
}

p {
	text-align: justify;
	font-family: Tommy;
	margin-top: 0;
}

header {
	background: var(--navbar-bg-color);
	display: flex;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: var(--navbar-height);
	box-shadow: 0 5px 10px var(--box-shadow-color);
}

#navbar {
	display: table;
	width: 30%;
	margin: 0;
	padding: 0;
	table-layout: fixed;
}

#navbar a {
	display: table-cell;
	color: var(--text-navbar-color);
	font-size: 20px;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	transition: background-color 0.4s, color 0.4s;
}

#navbar a:hover {
	background-color: var(--palette-color);
	cursor: pointer;
	color: var(--text-navbar-hover-color);
}

#page h2 {
	margin: 0px;
	font-size: 40px;
}

.copyright {
	display: table;
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: var(--navbar-bg-color);
	color: var(--text-navbar-color);
	font-size: 12px;
	z-index: 0;
}

.copyright span {
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 1100px) {

	#navbar {
		width: 60%;
	}
}

@media screen and (max-width: 700px) {

	#navbar {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {

	:root {
		--text-main-color: #FFF;
		--grid-bg-color: #000;
		--grid-line-color: #666;
		--navbar-bg-color: #1F1F1F;
		--palette-color: #948ada;
	}
}
