:root {
	--box-shadow-color: #999;
	--palette-color: #C5BEF9;
	--page-bg-color: #EEE;
	--container-color: #FFF;
	--text-main-color: #000;
}

#title-container {
	color: var(--text-main-color);
	text-shadow: -6px 6px 0 var(--palette-color);
	margin-left: 6%;
	margin-top: 26vh;
	font-size: 3.5vw;
	line-height: 7vw;
	position: fixed;
	z-index: 2;
}

#title h1 {
	margin: 0;
}

#title svg {
	display: none;
}

#title h1:first-of-type {
	margin-left: 3%;
}

#page-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	filter: drop-shadow(0 0 10px var(--box-shadow-color));
	z-index: 1;
}

#page {
	display: table-row;
	position: absolute;
	background-color: var(--page-bg-color);
	width: 60%;
    min-height: 100%;
	height: auto;
	right: 0;
	clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
	box-sizing: border-box;
	padding-bottom: 2%;
	padding-top: 7%;
	padding-left: 11%;
	padding-right: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#page h2 {
	margin-right: 10%;
	margin-bottom: 15px;
	text-align: right;
	font-size: 32px;
}

#text-container {
	padding: 3%;
	padding-top: 0%;
	line-height: 23px;
}

#text-container p {
	text-indent: 24px; 
}

#text-container a {
	text-decoration: none;
	color: var(--palette-color);
}

#text-container a:hover {
	text-decoration: underline;
}

video {
	width: 90% !important;
	height: auto !important;
}

#contacts-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.contact-container {
	background: var(--container-color);
	position: relative;
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 7px;
	box-sizing: border-box;
	transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
}

.contact-container svg {
	margin: 22%;
}

.contact-container:hover {
	transform: scale(1.1);
	box-shadow: 0 0 8px 3px var(--box-shadow-color);
}

#copyright-half {
	display: none;
}

#copyright-full {
	position: fixed;
	width: 50%;
}

#copyright-full span {
	padding-left: 10px;
	text-align: left;
}

@media screen and (max-width: 1100px) {

	body {
		flex-direction: column;
	}

	#title-container {
		display: flex;
		text-shadow: -4px 4px 0 var(--palette-color);
		position: relative;
		line-height: 14vw;
    	font-size: 7vw;
		margin: 0;
	}

	#title {
		display: flex;
		flex-flow: column;
		height: 100vh;
		width: 100%;
		min-height: 30vw;
		margin-left: 7%;
		margin-right: 7%;
		justify-content: center;
	}
	
	#title h1 {
		display: flex;
		height: 100%;
		margin-top: 60px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	#title h1:first-of-type {
	margin-left: 0;
	}
	
	#title svg {
		display: unset;
		height: 5vw;
		padding-bottom: 10px;	
		transform: scaleY(0.5);
	}

	#page-shadow {
		position: unset;
		filter: none;
	}

	#page {
		width: 100%;
		min-height: calc(100% - 60px);
		clip-path: none;
		padding: 5%;
		scroll-margin-top: 60px;
		box-shadow: 0 0 10px var(--box-shadow-color);
		justify-content: space-evenly;
	}
	
	.page-item {
		margin-top: 5%;
	}

	#page h2 {
		margin-right: 0;
		margin-left: 5%;
		text-align: left;
		font-size: 28px;
	}

	#contacts-container {
		margin-bottom: 50px;
	}

	#copyright-full {
		position: relative;
		text-align: center;
	}

	#copyright-half {
		display: table;
	}

	#copyright-half span {
		text-align: center;
	}

	#copyright-full {
		display: none;
	}
}

@media screen and (max-width: 700px) {

	#title-container {
		line-height: 18vw;
    	font-size: 9vw;
	}
	
	#title svg {
		height: 11vw;
	}

	.page-item {
		margin-top: 10%;
	}

	.contact-container {
		width: 110px;
		height: 110px;
		margin-bottom: 10%;
	}
}

@media screen and (max-height: 600px) {

	#title-container {
		line-height: 10vw;
		font-size: 5vw;
	}
}

@media (prefers-color-scheme: dark) {

	:root {
		--box-shadow-color: #000;
		--page-bg-color: #131313;
		--container-color: #222;
		--palette-color: #948ada;
		--text-main-color: #FFF;
	}

	svg {
		filter: invert();
	}
}