:root {
	--thread-color: #222;
	--keyword-text-color: #FFF;
}

#navbar a:last-child {
	text-decoration: underline var(--palette-color);
	text-underline-offset: 6px;
	text-decoration-thickness: 3px;
}

#page {
	background-color: var(--page-bg-color);
	min-height: 100%;
	width: 76%;
	margin-left: 12%;
	z-index: 2;
	box-shadow: 0 0 10px var(--box-shadow-color);
	position: absolute;
}

#careers-container {
	margin: 2%;
	margin-top: 120px;
	margin-bottom: 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.career-container {
	width: 50%;
}

.experience {
	display: flex;
	margin-right: 10%;
}

.experience h3 {
	margin-bottom: 10px;
}

.location {
	font-family: tommy;
	color: #888;
	margin-bottom: 15px;
}

.location a {
	color: var(--palette-color);
	text-decoration: none;
}

.location a:hover {
	text-decoration: underline;
}

.experience div:last-child {
	margin-bottom: 20px;
}

.experience:last-child div:last-child {
	margin-bottom: 0px;
}

.sphere {
	width: 16px;
	height: 16px;
	border-radius: 45px;
	margin: 15px;
	margin-bottom: 0px;
	margin-top: 19px;
	border: 4px solid var(--thread-color);
}

.line {
	height: calc(100% - 24px);
	margin-left: 25px;
	border-style: unset;
	border-left: 3px dashed var(--thread-color);
}

#page h2 {
	margin: 10px;
	margin-bottom: 25px;
	font-size: 30px;
}

#keywords {
	display: flex;
	flex-wrap: wrap;
	font-family: tommy;
	height: auto;
	width: 100%;
}

#keywords span {
	margin: 2px;
	padding: 4px;
}

#keywords span:first-child {
	margin-left: 0px;
	padding-left: 0px;
	text-decoration: underline;
}

#keywords span:not(:first-child) {
	background-color: var(--thread-color);
	border-radius: 5px;
	color: var(--keyword-text-color);
}

.copyright span {
	text-align: center;
}

@media screen and (max-width: 1100px) {
	
	#careers-container {
		margin-top: 80px;
	}

	.career-container {
		width: 100%;
		margin-bottom: 50px;
		margin-top: 30px;
	}
}

@media screen and (max-width: 700px) {

	body {
		background-image: none;
	}

	#page {
		width: 100%;
		margin-left: 0;
	}
}

@media (prefers-color-scheme: dark) {

	:root {
		--thread-color: #EEE;
		--keyword-text-color: #000;
	}
}